<p><button><%= link_to 'Удалить', user_path(params[:id]),method: :delete %></button></p>
<p><button><%= link_to 'Удалить', user_path(params[:id]),method: :update %></button></p>
<p><button><%= link_to 'Удалить', user_path(params[:id]),method: :update %></button></p>
<table class="table">
<tr>
    <th>login</th>
    <th>status</th>
</tr>
<% @users.each do |u|%>
<tr>
<td><%=u.login%></td>
<td><%=u.status%></td>
<td><%=check_box "user_id","checked_id",{:multiple => true}, u.id, nil %></td>
</tr>
<%end%>